* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.termo {
    width: 410px;
    padding: 10px;
    margin: 50px auto;
    background-color: rgb(11, 11, 49);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
}

.quadrado {
    width: 70px;
    height: 70px;
    background-color: rgb(11, 11, 49);
    border: 3px solid rgb(25, 36, 85);
    border-radius: 7px;
}

.inputText{
    width: 410px;
    height: 44px;
    text-align: center;
    background-color: rgb(25, 36, 85) ;
    border: 3px solid rgb(6, 6, 39);
    color: rgb(6, 6, 39);
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}

.btnEnviar{
    width: 410px;
    height: 33px;
    text-align: center;
    background-color:rgb(6, 6, 39);
    border: 3px solid rgb(25, 36, 85);
    color: rgb(25, 36, 85);
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
}