#container{
    display: flex;
}
p{
    text-align: center;
}
img{
    width: 260px;
    border-radius: 20px;
    padding: 10px;
}

#I{
    margin: 15px;
    background-color: #FFD900;
    border-radius: 10px;
    border: 30px;
    width: 280px;
    padding: 5px;
}
#ÇÇI{
    text-align: left;
    margin: 4px;
}

#ÇI{
    margin: 15px;
    background-color: #FAE25B;
    border-radius: 10px;
    width: 230px;
    padding: 10px;
    border: 2px solid#DFBD00;
}
#II{
    margin: 15px;
    background-color: #59F1F6;
    border-radius: 10px;
    border: 30px;
    width: 280px;
    padding: 5px;
}
#ÇII{
    background-color: #8EFBFF;
    border: 2px solid #09AEB3;
    border-radius: 10px;
}
#III{
    margin: 15px;
    background-color: #70B948;
    border-radius: 10px;
    border: 30px;
    width: 280px;
    padding: 5px;
}
#ÇIII{
    background-color: #B2ED8D;
    border: 2px solid #327F18;
    border-radius: 10px;
}
#IV{
    margin: 15px;
    background-color: #E42427;
    border-radius: 10px;
    border: 30px;
    width: 280px;
    padding: 5px;
}
#ÇIV{
    background-color: #E9B445;
    border: 2px solid #4A0200;
    border-radius: 10px;
}