h1{
    color: #6A1B9A;
}
.L{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#I{
    border: 2px solid #6A1B9A;
    width: 350px;
    height: 200px;
    margin: auto;
    background-image: url(assets/img-01.png);
    background-repeat: repeat;
}
#II{
    background-color: #FCE4EC;
    border: 2px solid #6A1B9A;
    width: 350px;
    height: 200px;
    margin: auto;
}
#III{
    background-color: #FCE4EC;
    border: 2px solid #6A1B9A;
    width: 350px;
    height: 200px;
    margin: auto;
    background-image: url(assets/img-03.png);
    background-repeat: no-repeat;
    background-position: center;
}
#IV{
    border: 2px solid #6A1B9A;
    width: 350px;
    height: 200px;
    margin: auto;
    background-image: url("assets/img-04.png");
    background-size: 100% 100%;
}
#V{
    background-color: #FCE4EC;
    border: 2px solid #6A1B9A;
    width: 350px;
    height: 200px;
    margin: auto;
    background-image: url(assets/img-05.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80px;
}