* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/img-06.png);

}

.SYdiv {
    max-width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.SYamong {
    
}

h1 {
    margin-top: 188px;
    color: #00C0DD;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.SYimg-08 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    position: 20px 1000px;
    margin: 20px 1750px;
}

.SYimg-08:hover {
    background-image: url(./assets/img-09.png);
}