* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A1B2D;
}

header {
    background-color: #081728;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    color: white;
    border: 3px solid #000612;
    gap: 20px;
}



.acerteSenha {
    width: 400px;
    margin: 40px auto;
    background-color: #081625;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
    border: 10px;
    border-radius: 20px;
}

.quadrado{
    width: 70px;
    height: 70px;
    background-color: #06111F;
    border: 3px solid #2B4056;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 34px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#FFFFFF ;
}
.inputText{
    width: 410px;
    height: 44px;
    text-align: center;
    background-color: #06111F;
    border: 3px solid #2B4056;
    color: #5D5D5D;
    font-weight: bold;
    font-size: 25px;
    border-radius: 7px;
}

.btnEnviar{
    width: 410px;
    height: 33px;
    text-align: center;
    background-color:#2B4056;
    border: 3px solid #06111F;
    color: #081625;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
}

.certo{
    background-color: #238C49;
}

.erro {
    background-color: #06111F;
}

.meioCerto{
    background-color: #CB9D21;
}



.tentativa {
    margin: 0px auto;
    background-color: #0A1B2D;
    border: 3px solid #051222;
    border-radius: 10px;
    width: 240px;
    height: 143px;
    text-align: center;
    font-weight: bold;
    color: #9FB5C9;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.among{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 400px;
    text-align: left;
}

.among img{
    height: 180px;
    width: auto;
    position: static;
}


.among p {
    color: #9FB5C9;
    width: 100%;
    text-align: right;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.num {
    color: #238E4B;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btnReiniciar{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-image: url(./assets/img-02.png);
    z-index: 999;
}



.btnReiniciar:hover {
    background-image: url(./assets/img-03.png);
}

.SYmodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.SYmodal.is-active {
    display: flex;
}

.SYconteiter1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./assets/img-04.png);
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.SYconteiter2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./assets/img-05.png);
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.SYconteiter1 h1,
.SYconteiter2 h1 {
    color: white;
    font-size: 50px;
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
}

.SYconteiter1 > img,
.SYconteiter2 > img {
    width: 250px;
    margin-top: 40px;
}

.SYbtnFechar,
.SYbtnFechar2 {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.SYbtnFechar img,
.SYbtnFechar2 img {
    width: 100%;
    height: 100%;

    pointer-events: none;
}
.SYconteiter1 h1{
    color: #00C0DD;
}
.SYconteiter2 h1{
    color: #DE0000;
}

@media (max-width: 540px) {
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px 10px;
        position: relative;
    }

    .among img {
        height: 130px;
        position: static;
    }
    .among {
        justify-content: center;
        margin: 0 auto;
    }

    .among p {
        text-align: center;
    }

    .tentativa {
        margin: 10px auto ;
        width: 160px;
        height: 100px;
    }

    .btnReiniciar {
        top: 10px;
        right: 10px;
    }

    .acerteSenha {
        width: 395px; 
        max-width: 300px;
        margin: 20px auto;
        padding: 8px;
        gap: 4px;
    }
    .quadrado {
        width: 52px;
        height: 52px;
        font-size: 26px;
    }

    .inputText {
        width: 100%;
        height: 38px;
        font-size: 18px;
    }

    .btnEnviar {
        width: 100%;
        height: 32px;
        font-size: 15px;
    }

    .inputText,
    .btnEnviar {
        width: 100%;
    }

    .SYconteiter1 > img,
    .SYconteiter2 > img {
        width: 150px;
        margin-top: 20px;

    }
    .SYconteiter1,
    .SYconteiter2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .SYconteiter1 h1{
        font-size: 100px;
    }
    .SYconteiter2 h1{
        font-size: 100px;
    }
}

