*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d1b2a;
    text-align: center;
    padding-top: 50px;
}

input{
    background-color:#1b263b;
    padding: 7px 15px;
    border: 1px solid #415a77;
    border-radius: 5px;
    color: white;
}

.inputText::placeholder {
  color: white; 
  opacity: 0.7;  
}

.btnEnviar {
    color: white;
    background-color: rgb(9, 9, 53);
    border-radius: 5px;
    padding: 5px 15px;
    font-family: cursive;
    font-size: medium;
}

h1{
    color: white;
}