* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabuleiro {
    width: 400px;
    margin: 0 auto;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.casa {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.preto {
    background-color: black;
    
}