body{
    background-color: rgb(110, 39, 241);
}
h1{
    text-align: center;
    color: white;
    margin: 40px 0;
}
#I{
    background-image: url(assets/img-10.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 35px 0;
}
